@{
    ViewData["Title"] = "За нас";
}

<h1>За нас</h1>

<div class="image_with_text">
<img src="https://bambooks.bg/storage/app/uploads/public/61d/d5f/d5d/61dd5fd5ddd03888044267.jpg" 
alt="for us main image" />

<div class="image_text">
    <p style="font-size:24px">

            Библиотека "Пегас" е магично убежище за всички любители на знанието и приключенията. Съчетавайки елегантен дизайн с интелектуална атмосфера, това място е домът на неограничен свят от книги, събрани с грижа и страст.

            Входът в библиотеката е олицетворение на пътя към знание - вратите са високи и отварят се с въздушна лекота, когато човек стъпи с възторг в очите. Пространството вътре е осветено от мека светлина, която придава на стените нотка на магия. На всяко кътче се
            разполагат кресла и столове, където посетителите могат да се потопят в своите любими истории или да откриват нови светове.

    </p>
</div>
</div>
