@model Online_Library.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Създай</h1>

<h4>Книга</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureLink" class="control-label"></label>
                <input asp-for="PictureLink" class="form-control" />
                <span asp-validation-for="PictureLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pages" class="control-label"></label>
                <input asp-for="pages" class="form-control" />
                <span asp-validation-for="pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfPublish" class="control-label"></label>
                <input asp-for="YearOfPublish" class="form-control" />
                <span asp-validation-for="YearOfPublish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
                    <option value="">Изберете категория</option>
                </select> 
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

