@model Online_Library.View_Model.UploadFileVM
 
<form asp-action="UploadPdf" method="post" enctype="multipart/form-data" >
    <h1>Добавяте PDF файл за Книга: @Html.DisplayFor(model => model.Book.Title)</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FileName" class="control-label"></label>
        <input asp-for="FileName" class="form-control" />
        <span asp-validation-for="FileName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="File" class="control-label"></label>
        <input asp-for="File" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Запази" class="btn btn-primary" />
    </div>
</form>
