html {
  font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    text-align: center;
}

.project-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.project-footer p {
   margin: 5px 0;
}


.footer-bar {
    background-color: #1a1522;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 102%;
}


.your-name {
    color: #777b58;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}

.footer-bar p {
    font-family: Georgia, serif;
}

.form-group a {
    position: relative;
    top: -85px;
    right: -170px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #ff6a00;
    color: #fff;
    text-decoration: none;
    border-radius: -1px;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff6a00;
    --bs-btn-hover-border-color: #151515
}


.form-group {
    padding: 20px;
}

à {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1a1a1a;
    --bs-btn-border-color: #1a1a1a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #161616;
    --bs-btn-hover-border-color: #151515;
    --bs-btn-focus-shadow-rgb: 60, 60, 60;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #151515;
    --bs-btn-active-border-color: #141414;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1a1a1a;
    --bs-btn-disabled-border-color: #1a1a1a;
}

.form-group1 a {
    position: relative;
    top: -67px;
    right: -170px;
    display: inline-block;
    padding: 12px 25px;
    background-color: gray;
    color: white;
    text-decoration: none;
}


.form-group2 a {
    position: relative;
    top: -63px;
    right: -170px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #fff;
    text-align: center;
}

section {
    text-align: center;
    padding: 2em;
    margin: 7%
}

a {
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

.nav-item {
    margin-right: 10px;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-user, .nav-book, .nav-home {
    margin-right: 10px; 
}

.image_with_text{
    position:relative;
    display: inline-block;
}
.image_with_text img {
    max-width: 100%;
}

.image_text{
    width:75%;
    position: absolute;
    top: 95%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:white;
    padding: 10px;
    opacity: 0.9;
    height:50%;
}
.container-fluid {
    justify-content: flex-start;
}

.footer {
    background-color: #1a1522;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -140px;
    width: 100%;
    position: absolute;
}

.flexCenter{
    display: flex;
    justify-content: center;
}

element {
    font-size: 22px;
}

input {
    position: center;
    font-size: 22px;
}
.label-with-spacing {
    margin-right: 5px;
}
.align-items-end {
    align-items: flex-end !important;
    padding: 1.5rem;
}
label {
    display: inline-block;
    margin-right: 4px;
    word-spacing: 2px
}